
/*small screen*/
@media only screen and (max-width: 600px)
{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    html {
        height: 100%;
    }
    #ny{
      overflow-y: hidden;
        
    }
    body{
        width: 100%;
        min-height: 100vh;
        
        
    }
    #loding{
        position: fixed;
    top: -93px;
    width: 100%;
    height: 115vh;
    background: #fff url(https://drive.google.com/uc?export=download&id=1zenv7hNx8PIRp7QfNt9kGl9DfilTTTjO) no-repeat center;
    z-index: 100;
    background-size: 40px;
             }
    .content{
        background: rgba(0, 0,0,0.7) url(https://drive.google.com/uc?export=download&id=1uYFtJhT8tR3YBNcEPyoYAzhGheIUU9vZ);
        
        background-size: 100% 100vh;
        min-height: 100vh;
        
    }
   
    .navbar{
       
        position: fixed;
        background-color: rgb(163, 224, 235);
        width: 100%;
        top: -1px;

        height: 54px;

    }
    .burger{
        display: block;

        position: absolute;
        right: 2%;
        top: 10px;
    }
     .line{
        width: 25px;
        background: black;
        height: 1px;
        margin: 7px;
        border-radius: 1px;;
    
    } 
    
  .listr{
     
      opacity: 0;
  
  }
  #dut{
      display: none;
  }
  #duti{
       position: fixed;
  }
  .yui{
      height: 400px;
      width: 400px;
  }
  .listrtg{
    opacity: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 54px 0px 0px 0px;
    background: black;
    width: 48%;
    height: 100VH;
    position: fixed;
    right: 0px;
   
}

.listrtg a {
    background-color: aquamarine;
    border: 2px solid red;
    font-size: 25px;
    margin: 38px 0px 0px;
    padding: 26px 0px;
    
  

}
  /*   explore winddow css*/
  .bt{
     
      display: grid;
      place-items: center;
      margin: 30px 0px;
  }
  .btstyle{ 
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 13px;
    font-size: 20px;
  }
  .bdpart{
    margin: 28px 0px;
    display: grid !important;
    place-items: center;
    
    
 
  }
  .dttx{
      font-size: 22px;
      margin: 0px 13px;

  }
  .gatuu{
    background: rgba(0, 0,0,0.7) url(https://drive.google.com/uc?export=download&id=1uYFtJhT8tR3YBNcEPyoYAzhGheIUU9vZ);
    background-size: 100% 2000px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 12px 0px;
}
  .rty{
    background: rgb(255 255 255 / 84%);
      width: 90%;
      border-radius: 20px;
 
  }
   #bappi{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      
   }
   .link{
    background-color: rgb(200,0,0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 9px;
   }
   .ui{
      margin: 20px;
      text-align: center;
   }
   #gapi{
    font-size: 14.48px;
    margin: 0px 26px;
 
   }
   .bd{
       display: none;
   }


  .logo img{
    width: 186px;
    
  }
  .logo{
    position: fixed;
    top: -68px;
    left: -9px;
 
  }
  .none{
    width: 100%;
    display: grid;
    place-items: center;
    gap: 18px 0px;
    margin: 39px 0px;
  }
  .none iframe{
    width: 93%;
    height: 217px;
  }
  h1{
      opacity: 0;
      height: 54px;
      width: 0.1px;
  }
  
  .container{

    background-color: rgba(255, 255, 255, 0.788);
    width: 93%;
    height: 85vh;
    margin: 0px 1.65vh 66px;
    border-radius: 30px;
    display: flex;
    row-gap: 28px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.container a{
   font-size: 27px;
   border: 1px solid red;
  
   text-align: center;
   background-color: rgb(0, 0, 0);
}









                      }
