
/*small screen*/
@media only screen and (max-width: 600px)
{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    html {
        height: 100%;
    }
    #ny{
      overflow-y: hidden;
        
    }
    body{
        width: 100%;
        min-height: 100vh;
        
    }
    #loding{
        position: fixed;
    top: -93px;
    width: 100%;
    height: 115vh;
    background: #fff url(https://drive.google.com/uc?export=download&id=1zenv7hNx8PIRp7QfNt9kGl9DfilTTTjO) no-repeat center;
    z-index: 100;
    background-size: 40px;
}
             }
    .content{
        background: rgba(0, 0,0,0.7) url(https://drive.google.com/uc?export=download&id=1uYFtJhT8tR3YBNcEPyoYAzhGheIUU9vZ);
        
        background-size: 100% 100vh;
        
    }
   
    .navbar{
       
        position: fixed;
        background-color: rgb(163, 224, 235);
        width: 100%;
        top: -1px;

        height: 54px;

    }
    .burger{
        display: block;

        position: absolute;
        right: 2%;
        top: 10px;
    }
     .line{
        width: 25px;
        background: black;
        height: 1px;
        margin: 7px;
        border-radius: 1px;;
    
    } 
    
  .listr{
     
      opacity: 0;

      
      
    
  }
  .listrtg{
    opacity: 1;
    position: fixed;
    left: 231px;
    text-align: center;
    top: 67px;
}

.listrtg li a{
    background-color: aquamarine;
    font-size: 28px;
    padding: 27px;
    line-height: 30px;

}
  .listr li{
      list-style: none;
      padding:  15px;
      

  }
  .listr li a{
      text-decoration: none;
      text-align:center;

  } 
  .logo img{
      position: fixed;
      top: -12vw;
      left: 1%; 
      width: 36%;
    
  }
  .none iframe{
    width: 100%;
    height: 315px;
  }
 
                      }
