
/*small screen*/
@media only screen and (max-width: 600px)
{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100vh;
        /*border: dashed red;*/
    }
    #loding{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff url(https://drive.google.com/uc?export=download&id=1zenv7hNx8PIRp7QfNt9kGl9DfilTTTjO) no-repeat center;
        z-index: 100;
    }
    .content{
        background: rgba(0, 0,0,0.7) url(https://drive.google.com/uc?export=download&id=1uYFtJhT8tR3YBNcEPyoYAzhGheIUU9vZ);
        
        background-size: 100% 100vh;
        
    }
   
    .navbar{
       
        position: fixed;
        background-color: rgb(163, 224, 235);
        width: 100%;
        top: -1px;

        height: 72px;

    }
    .burger{
        display: block;

        position: absolute;
        right: 3%;
        top: 8px;
    }
     .line{
        width: 36px;
        background: black;
        height: 1px;
        margin: 12px;
        border-radius: 1px;
    
    } 
    
  .listr{
      display: absolute;
      padding: 10px 8px;
      opacity: 0;

      
      
    
  }
  .listrtg{
    display: block;
    padding: 5px 6px;

    opacity: 1;
}

.listrtg li a{
    background-color: aquamarine;
    font-size: 28px;
    padding: 27px;
    line-height: 30px;

}
  .listr li{
      list-style: none;
      padding:  15px;
      

  }
  .listr li a{
      text-decoration: none;
      text-align:center;

  } 
  .logo img{
      position: fixed;
      top: -13vw;
      left: 1%; 
      width: 43%;
    
  }
  .none iframe{
    width: 100%;
    height: 315px;
  }
 
                      }
