
     .sub {
     height: 30px;
     width: 95px;
       border: 0px;
       background-color: rgb(255,0,0);
       color: white;
       border-radius: 4px;
      }
      .img {
        width: 300px;
        border: 40px;
         }
         
    /* SECOND PAGE */
    
   .imer{
    height: 950px;
    width: 500px;
    margin: -53px;
  
    }
    .back{
      background-color: black;
      color: white;
      height: 28px;
      width: 55px;
      font-size: 12px;
      position: absolute;
      left: 353px;
      margin-top: 45px;
      border: 0px;
      border-radius: 3px;
    }
       
      
    .fas fa-bars{
      position: absolute;
      color: red;
      margin-left: 30px;
    }
    #but{
      background-color: transparent;
      right: 80px;
      border: 0px;
    }
   