
/*lagrge screen*/
@media only screen and (min-width: 600px){
    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        
    }
    #loding{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff url(images/loader.gif) no-repeat center;
        z-index: 100;

    }
    .navbar{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 52px;
      
        background-color: rg(163, 224, 235);
        overflow-y: hidden ;
       
    }
   .list li a:hover{
      color: red;
      background-color: white;
      transition: 0.85s;
        }
        .list{
            width: 33%;
            margin: auto;
            border: 3px;
            margin-right: 168px;
            
        }
        .list li{
            display: inline-block;
            
            padding: 17px 12px;
            font-size: 16px;
        
        }
        .list li a{
            padding: 4px 16px;
            border: 2px solid white;
            text-decoration: none;
            color: rgb(97, 52, 52);
            border-radius: 5px;
            
        }
        .logo img{
            position: fixed;
            left: 47px;
            top: -65px;
            width: 181px;
        }
    .content{
        background: rgba(0, 0,0,0.7) url(images/mny.jpg);
        background-repeat: no-repeat;
        background-size: 100% 2340px;
        
    }







    }
        
