
/*lagrge screen*/
@media only screen and (min-width: 600px){
    .navbar{
        position: fixed;
        width: 1440px;
        height: 50px;
        margin: -8px;
        padding: 0px;
        background-color: rgb(96, 243, 231);
    }
   .list li a:hover,:active{
      color: red;
      background-color: white;
      transition: 0.85s;
        }
        .list{
            width: 33%;
            margin: -2px 462px;
            border: 3px;
            
        }
        .list li{
            display: inline-block;
            padding: 18px 10px;
            font-size: 16px;
        }
        .list li a{
            padding: 4px 16px;
            border: 2px solid white;
            text-decoration: none;
            color: rgb(87, 57, 57);
            border-radius: 5px;
            
        }

/*small screen*/
 @media only screen and(max-width: 600px){
    .navbar{
        position: fixed;
        width: 600px;
        height: 10px;
        margin: -8px;
        padding: 0px;
        background-color: rgb(0, 0, 0);
    }
        .list li a:active{
            color: red;
            background-color: white;
            transition: 0.85s;
              }
              .list{
                  width: 33%;
                  margin: -2px auto;
                  border: 3px;
                  
              }
              .list li{
                  display: inline-block;
                  padding: 18px 10px;
                  font-size: 16px;
              }
              .list li a{
                  padding: 4px 16px;
                  border: 2px solid white;
                  text-decoration: none;
                  color: rgb(87, 57, 57);
                  border-radius: 5px;
                      }
