
/*lagrge screen*/
@media only screen and (min-width: 600px){
    *{
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
        
    }
    #dut{
        display: none;
    }
    
    #loding{
        position: fixed;
        bottom: -96px;
        width: 100%;
        height: 141vh;
        background: #fff url(https://drive.google.com/uc?export=download&id=1zenv7hNx8PIRp7QfNt9kGl9DfilTTTjO) no-repeat center;
        z-index: 100;
        background-size: 47px 60px;
    }
    #ny{
       overflow-y: hidden;
    }
    .navbar{
        position: fixed;
        width: 100%;
        height: 56px;
        background-color: rgb(163, 224, 235);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 223px;
        z-index: 99;
    
       
    }
    .list{
        display: none;
    }
    .logo{
        height: 56px;
        display: flex;
    }
           .logo img{
            margin: 11px -53px;
            
          }
    .burger{
        display: none;
    }
   .lis a:hover{
      color: red;
      background-color: white;
      transition: 0.95s;
        }
        .lis{
            display: flex;
            
        }
        .lis a{
            padding: 4px 16px;
            border: 2px solid white;
            color: rgb(97, 52, 52);
            border-radius: 5px;
            font-size: 17px;
            margin-right: 12px;
            
        }
        .juk{
            color: red !important;
      background-color: white !important;
        }
       
         
    .content{
        background: rgba(0, 0,0,0.7) url(https://drive.google.com/uc?export=download&id=1uYFtJhT8tR3YBNcEPyoYAzhGheIUU9vZ);
        
        background-size: 100% 2000px;
        min-height: 100vh;
        
        
    }
    .bd{
        display: none;
    }

    .gatuu{
        background: rgba(0, 0,0,0.7) url(https://drive.google.com/uc?export=download&id=1uYFtJhT8tR3YBNcEPyoYAzhGheIUU9vZ);
        background-size: 100% 2000px;
        min-height: 100vh;
        display: grid;
        place-items: center;
        margin: 24px 0px;
    }
   
    h1{
        opacity: 0;
        height: 56px;
        width: 0.01px;
    }
     .container{

        background-color: rgba(255, 255, 255, 0.788);
        width: 71%;
        height: 78vh;
        margin: 71px 160px;
        
        border-radius: 30px;
        display: flex;
        row-gap: 28px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
  
    .container a {
       font-size: 27px;
       border: 2px solid red;
       text-decoration: dashed;
       text-align: center;
       background-color: rgb(0, 0, 0);

    }
    
    /* explore button*/
    .bt{
     
        display: grid;
        place-items: center;
        margin: 30px 0px;
    }
    .btstyle{ 
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 5px;
      padding: 11px 16px;
      font-size: 20px;
      cursor: pointer;
      transition-duration: 700ms;
    }
    .btstyle:hover{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 11px 16px;
        font-size: 20px;
        cursor: pointer;
    }
    .btstyle-active{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 11px 16px;
        font-size: 20px;
        cursor: pointer;
    }

    .bdpart{
        margin: 28px 0px;
        display: grid !important;
        place-items: center;
     
      }
      .rty{
         background: rgba(255, 255, 255, 0.699);
          width: 80%;
          border-radius: 39px;
          backdrop-filter: blur(2.8px);
     
      }
       #bappi{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          
       }
       .link{
        background-color: rgb(200,0,0);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 7px 9px;
       }
       .ui{
          margin: 20px;
          text-align: center;
       }
       #gapi{
        font-size: 14.48px;
        margin: 0px 99px;
     
       }
      
       #bappi{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          
       }
       .link{
        background-color: rgb(200,0,0);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 7px 9px;
       }
       .ui{
          margin: 20px;
          text-align: center;
       }
       #gapi{
        font-size: 14.48px;
        margin: 0px 99px;
     
       }



 .none iframe{
   width: 460px;
   height: 315px;
 }





    }
        
    